// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$font-family: Rubik, Arial,sans-serif;
$black-100:rgba(0,0,0,0.2);

$text-base:#fff;
$bg-orange:orange;